layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="Emacs" focus=true {
        pane split_direction="vertical" {
            pane size="80%" {
                command "emacs"
                args "-nw" "."
            }
            pane split_direction="horizontal" {
                pane name="Shell" {
                    command "zsh"
                }
                pane name="Git" {
                    command "lazygit"
                }
            }
        }
    }
    
    tab name="Terminal" {
        pane split_direction="horizontal" {
            pane name="Build/Test" {
                command "zsh"
            }
            pane name="Server" {
                command "zsh"
            }
        }
    }
}