layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    
    tab name="Code" focus=true {
        pane split_direction="vertical" {
            pane size="65%" {
                command "nvim"
                args "."
            }
            pane split_direction="horizontal" {
                pane name="Compose" {
                    command "zsh"
                    args "-c" "podman-compose up || docker-compose up"
                }
                pane name="Terminal"
            }
        }
    }
    
    tab name="Containers" {
        pane split_direction="horizontal" {
            pane name="Running" {
                command "zsh"
                args "-c" "podman ps || docker ps"
            }
            pane name="Images" {
                command "zsh"
                args "-c" "podman images || docker images"
            }
        }
    }
    
    tab name="Logs" {
        pane split_direction="vertical" {
            pane name="App Logs" {
                command "zsh"
                args "-c" "podman-compose logs -f || docker-compose logs -f"
            }
            pane name="Terminal"
        }
    }
    
    tab name="Git" {
        pane split_direction="vertical" {
            pane {
                command "lazygit"
            }
            pane name="Terminal"
        }
    }
}