// Zellij configuration
// For a full list of options, see the Zellij documentation:
// https://zellij.dev/documentation/configuration.html

// Use the custom tokyo-night theme
theme "tokyo-night"

// Set the default layout
default_layout "compact"
show_startup_tips false
// Use Alt+n as the prefix for all keybindings
keybinds {
    // Define the keybindings for the locked mode
    locked {
        // Pane management
        bind "c" { NewPane; } // c for create
        bind "s" { NewPane "Down"; } // s for split down
        bind "v" { NewPane "Right"; } // v for vertical split
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "k" { MoveFocus "Up"; }
        bind "j" { MoveFocus "Down"; }

        // Tab management
        bind "h" { GoToPreviousTab; } // h for previous
        bind "j" { GoToNextTab; } // j for next

        // Exit
        bind "q" { Quit; }
    }
}

