layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    
    pane split_direction="horizontal" {
        pane size="50%" name="editor" {
            command "nvim"
        }
        
        pane split_direction="vertical" size="50%" {
            pane name="containers" {
                command "podman"
                args "ps" "-a"
            }
            pane name="logs"
        }
    }
    
    pane size="25%" name="deploy" {
        command "mise"
        args "run" "deploy"
    }
}