layout {
    pane  size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
	pane split_direction="vertical" {
		pane size="60%" name="editor" {
		    command "nvim"
		}

		pane split_direction="horizontal" size="40%" {
		    pane name="watcher" {
			command "mise"
			args "watch" "dev"
		    }
		    pane name="terminal"
		}
    }
    pane size="25%" name="tests" {
        command "mise"
        args "watch" "test"
    }
}
